<div class="wrapper">
  <div class="slider">
    <div class="slider__items">
      <img
        width="200px"
        height="150px"
        src="./images/logo.png"
        alt="ice-cream"
      />
    </div>
    <div class="slider__items">
      <img
        width="200px"
        height="150px"
        src="./images/logo.png"
        alt="ice-cream"
      />
    </div>
    <div class="slider__items">
      <img
        width="200px"
        height="150px"
        src="./images/logo.png"
        alt="ice-cream"
      />
    </div>
    <div class="slider__items">
      <img
        width="200px"
        height="150px"
        src="./images/logo.png"
        alt="ice-cream"
      />
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="../js/slick.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script> -->
  </div>
</div>
